################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Source Code/Insulated Joint Plate/obj/SpacedOutRelease
/Source Code/Insulated Joint Plate/.vs/InsulatedPlate/FileContentIndex/e5348d41-b703-46be-8bb6-cd5c3c50e898.vsidx
